@page "/page26"

<h2>2.6. Пользовательские свойства
(или CSS-переменные)</h2>

<p>Мы сотрудничаем с небольшими плантациями по всему миру чтобы собирать
    зерна в пик сезона. Затем мы тщательно поджариваем зерна небольшими
    партиями, чтобы максимально раскрыть их потенциал</p>


@code {

}
