
<div>
    <ul>
        <li><a href="Page24">Раздел 2.4</a></li>
        <li><a href="Page26">Раздел 2.6</a></li>
        <li><a href="Page31">Раздел 3.1</a></li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
